# Hidden files
.*
!.git*
!.dashboard.yaml
!.dockerignore

# Dependencies
node_modules/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/

# ML artifacts
*.pth
*.pt
*.onnx
data/

# Testing
htmlcov/

# Build
*.log
ui-kit.zip
